html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
    body {
        margin-top: 0px;
        background-image: url("./assets/General/background.png");
        background-size: cover;
        font-family: 'Anton', sans-serif;
        color: whitesmoke;
        text-align: center;
    }


.Navbar {
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100.5vw;
    margin-left: -1vw;
    height: 8vh;
    border-radius: 0px 0px 50px 50px;
    background-color: darkslategray;
    top: -1vh;
    position: sticky;
    text-size-adjust: auto;
    z-index: 1;
}
    .Navitem {
        color: whitesmoke;
        font-size: 3.5vw;
        text-decoration: none;
        transition: 400ms;
    }
    .carlogo {
        width: 25vw;
        height: auto;
    }
    .Navbar:hover>.Navitem {
        opacity: 0.1;
    }
    .Navbar:hover>.Navitem:hover {
        opacity: 1;
    }


#Hero {
    height: auto;
    width: 110%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: -5vw;
    top: -10vh;
}
    #HeroText {
        color: whitesmoke;
        align-self: center;
        justify-self: center;
        font-size: 5vh;
        text-align: center;
        position: absolute;
    }


#Featured {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
    .Feathead {
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
    .Featuredpics {
        display: flex;
    }

.Featuredpics:hover {
    opacity: 50%;
}

#Shop {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
    .ShopHead {
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
    .ShopPic {
        display: flex;
    }

#Footer {
    margin: 0;
    background-color: darkslategray;
    border-radius: 50px 50px 0px 0px;
    width: 100vw;
    text-align: center;
    bottom: 0;
}
    .pagelinks {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .socialmedia {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .socialtext {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -20px;
        margin-bottom: -15px;
        font-size: 1.5vw;
    }
    .socialpics {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .socialpadding {
        padding: 5px;
    }
    hr {
        background-color: black;
        height: 1px;
        width: 65vw;
        opacity: 25%;
        z-index: -1;
    }
@media screen and (max-width: 768px) {
    #HeroText {
        font-size: 10vw;
    }
    #Hero {
        padding-top: 11vh;
    }
}


.toplink{color: white;}
.toplink:hover{text-emphasis-color: black;}
a:link {    text-decoration: none;}
a:hover {    text-decoration: none;}
a:visited {    text-decoration: none;}
a:active {    text-decoration: none;}

/* Communal qualities of content */
.Featpic {
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content:center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-text-stroke: 1.5px;
    font-size: 3vh;
}
.ShopPic {
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content:center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-text-stroke: 1.5px;
    font-size: 3vh;
}

.Featpic:hover {
    background-color: white;
    opacity: 90%
}
/* Individual qualities of content */
.FeatpicContent1:hover::after {
    content: "Blue Low Shoes";
    color: black;
    -webkit-text-fill-color: teal;
}
.FeatpicContent2:hover::after {
    color: black;
    content: "Blue Mid Shoes";
    -webkit-text-fill-color: teal;
}
.FeatpicContent3:hover::after {
    color: black;
    content: "Blue High Shoes";
    -webkit-text-fill-color: teal;
}
.FeatpicContent4:hover::after {
    color: black;
    content: "Blue Checkered Shoes";
    -webkit-text-fill-color: teal;
}
.ShopPicContent5:hover::after {
    color: darkgray;
    content: "Black High Shoes";
    -webkit-text-fill-color: black;
}
.ShopPicContent6:hover::after {
    color: darkgray;
    content: "Black Shoes";
    -webkit-text-fill-color: black;
}
.ShopPicContent7:hover::after {
    color: black;
    content: "Camouflage Shoes";
    -webkit-text-fill-color: olive;
}
.ShopPicContent8:hover::after {
    color: black;
    content: "Red Shoes";
    -webkit-text-fill-color: red;
}